# External Projects
hive

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
base/lib
data/lib
net/lib
alien/lib
causal/bin
example/base/lib/lib
example/base/madtypingmonkeys/bin
example/base/simplekicker/bin
example/base/trainingkicker/bin
example/base/typingmonkeys/bin
example/net/httpBeacon/bin

# DUB
.dub
dub.selections.json
docs.json
__dummy.html
docs/
__test__library__

# Code coverage
*.lst

# Logs
*.log
