# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
base/lib
util/lib
alien/lib
causal/bin
example/base/lib/lib
example/base/madtypingmonkeys/bin
example/base/simplekicker/bin
example/base/trainingkicker/bin
example/base/typingmonkeys/bin
example/util/web/bin

# DUB
.dub
dub.selections.json
docs.json
__dummy.html
docs/
__test__library__

# Code coverage
*.lst

# Logs
*.log

# Assemblies && links
flow_example_base_simplekicker
flow_example_base_trainingkicker
flow_example_base_typingmonkeys
flow_example_base_madtypingmonkeys

flow_example_util_web
example/util/web/www/fonts
example/util/web/www/index.html
example/util/web/www/flow.html
example/util/web/www/flow.js
example/util/web/www/flow.util.memory.html
example/util/web/www/flow.util.memory.js
example/util/web/www/jquery.js
example/util/web/www/backbone.js
example/util/web/www/backbone.epoxy.js
example/util/web/www/backbone.radio.js
example/util/web/www/marionette.js
example/util/web/www/require.js
example/util/web/www/text.js
example/util/web/www/domReady.js
example/util/web/www/underscore.js
example/util/web/www/isotope.js
example/util/web/www/masonry.js
example/util/web/www/jquery-bridget.js
example/util/web/www/vis.js
example/util/web/www/vis.css
example/util/web/www/slider.js
example/util/web/www/slider.css
example/util/web/www/bootstrap.css
example/util/web/www/bootstrap-theme.css
example/util/web/www/bootstrap.js

flow_causal
causal/www/fonts
causal/www/ace
causal/www/index.html
causal/www/flow.html
causal/www/flow.js
causal/www/flow.util.memory.html
causal/www/flow.util.memory.js
causal/www/flow.util.memory.html
causal/www/flow.util.memory.js
causal/www/flow.alien.nls.ad.cl.html
causal/www/flow.alien.nls.ad.cl.js
causal/www/jquery.js
causal/www/backbone.js
causal/www/backbone.epoxy.js
causal/www/backbone.radio.js
causal/www/require.js
causal/www/text.js
causal/www/domReady.js
causal/www/underscore.js
causal/www/masonry.js
causal/www/jquery-bridget.js
causal/www/vis.js
causal/www/vis.css
causal/www/slider.js
causal/www/slider.css
causal/www/bootstrap.css
causal/www/bootstrap-theme.css
causal/www/bootstrap.js
causal/www/isotope.js
