# External Projects
hive

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
base/iface
base/lib
complex/lib
run/bin

# DUB
.dub
dub.selections.json
docs.json
__dummy.html
docs/
__test__library__

# Code coverage
*.lst

# Logs
*.log
