<html>

<body>
    <script type="text/template" id="Flow-Alien-Nls-Ed-Cl-DescriptionEditView">
        <div>
            <div class="btn-group" role="group">
                <button class="btn btn-primary navbar-btn" type="button" data-toggle="collapse" data-target="#<%= id %>-GlobalContainer" aria-expanded="false" aria-controls="<%= id %>-GlobalContainer"><span class="glyphicon glyphicon-collapse-down" title="Cl globals" />
                <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span style="cursor: pointer;" class="glyphicon glyphicon-plus" title="Add"></span>
                    <span class="caret"></span>
            </button>
                <ul class="dropdown-menu">
                    <li><a id="btnAddEntity" href="#">Entity</a></li>
                    <li><a id="btnAddXxAct" href="#">X to X Act</a></li>
                    <li><a id="btnAddXxMapping" href="#">X to X Mapping</a></li>
                    <li><a id="btnAddXyAct" href="#">X to Y Act</a></li>
                    <li><a id="btnAddXyMapping" href="#">X to Y Mapping</a></li>
                </ul>
                <button id="btnDelete" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-minus" title="Delete"></span></button>
            </div>
            <div class="collapse" id="<%= id %>-GlobalContainer">
                <div id="pnlGlobalSrc">
                    <div id="globalSrcEditor" class="form-control"></div>
                </div>
            </div>
            <table width="100%">
                <tr>
                    <td width="700px">
                        <div id="graph" style="height: 700px; border-style: solid; background-color: #AAAAAA;" />
                    </td>
                    <td height="100%" style="vertical-align: top;">
                        <div id="body" />
                    </td>
                </tr>
            </table>
        </div>
    </script>

    <script type="text/template" id="Flow-Alien-Nls-Ed-Cl-EntityDescriptionEditView">
        <div>
            <div id="groupName" class="input-group">
                <label class="input-group-addon" id="lblName">Name</label>
                <input id="txtName" type="text" class="form-control focus" placeholder="MyEntity" aria-describedby="lblName">
            </div>
            <div id="groupAmount" class="input-group">
                <label class="input-group-addon" id="lblAmount">Amount</label>
                <input id="txtAmount" type="text" class="form-control focus" placeholder="amount of instances to use" aria-describedby="lblAmount">
            </div>
            <div id="pnlParamSrc">
                <div id="paramSrcEditor" class="form-control"></div>
            </div>
        </div>
    </script>

    <script type="text/template" id="Flow-Alien-Nls-Ed-Cl-InformationDescriptionView">
        <div class="panel panel-default">
            <div class="panel-body">
                <table width="100%">
                    <tr>
                        <td>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#<%= attributes.id %>-PropertyContainer" aria-expanded="false" aria-controls="<%= id %>-PropertyContainer"><span class="glyphicon glyphicon-collapse-down" title="Memory Properties" />
                        </td>
                        <td width="100%">
                            <div id="groupInfoName" class="input-group">
                                <label class="input-group-addon" id="lblInfoName">Name</label>
                                <input id="txtInfoName" type="text" class="form-control focus" placeholder="MyInformation" aria-describedby="lblInfoName">
                            </div>
                        </td>
                        <td>
                            <button id="btnDelete" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-minus" title="Delete"></span></button>
                        </td>
                    </tr>
                </table>
                <div class="collapse" id="<%= attributes.id %>-PropertyContainer">
                    <div id="groupType" class="input-group">
                        <label class="input-group-addon" id="lblType">Type</label>
                        <select id="selType" class="form-control" aria-describedby="lblType">
                            <option value="0">Integer</option>
                            <option value="1">Float</option>
                        </select>
                    </div>
                    <div id="groupDimensions" class="input-group">
                        <label class="input-group-addon" id="lblDimensions">Dimensions</label>
                        <input id="txtDimensions" type="text" class="form-control focus" placeholder="2*5*6" aria-describedby="lblDimensions">
                    </div>
                    <div id="groupAbsolute" class="input-group">
                        <label class="input-group-addon" id="lblAbsolute">Is absolute?</label>
                        <input id="chkAbsolute" type="checkbox" class="form-control focus" aria-describedby="lblAbsolute">
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="Flow-Alien-Nls-Ed-Cl-InformationDescriptionListView">
        <div>
            <div class="btn-group" role="group">
                <button id="btnAdd" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-plus" title="Add"></span></button>
            </div>
            <div id="body" class="list-group" />
        </div>
    </script>

    <script type="text/template" id="Flow-Alien-Nls-Ed-Cl-XxActDescriptionEditView">
        <div>
            <div id="groupName" class="input-group">
                <label class="input-group-addon" id="lblName">Name</label>
                <input id="txtName" type="text" class="form-control focus" placeholder="MyAct" aria-describedby="lblName">
            </div>
            <div id="groupMeasurement" class="input-group">
                <label class="input-group-addon" id="lblMeasurement">Is measurement?</label>
                <input id="chkMeasurement" type="checkbox" class="form-control focus" aria-describedby="lblMeasurement">
            </div>
            <div class="panel-header">
                <ul class="nav nav-tabs">
                    <li id="btnxInformation" role="presentation" style="cursor: pointer;" class="active"><a href="#" style="text-decoration: none;">X Information</a></li>
                    <li id="btnActSrc" role="presentation" style="cursor: pointer;"><a href="#" style="text-decoration: none;">Act Source</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div id="pnlxInformation" style="height: 540px; overflow: auto; overflow-x:hidden;" />
                <div id="pnlActSrc" style="display: none;">
                    <div id="actSrcEditor" class="form-control"></div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="Flow-Alien-Nls-Ed-Cl-XyActDescriptionEditView">
        <div>
            <div id="groupName" class="input-group">
                <label class="input-group-addon" id="lblName">Name</label>
                <input id="txtName" type="text" class="form-control focus" placeholder="MyAct" aria-describedby="lblName">
            </div>
            <div id="groupMeasurement" class="input-group">
                <label class="input-group-addon" id="lblMeasurement">Is measurement?</label>
                <input id="chkMeasurement" type="checkbox" class="form-control focus" aria-describedby="lblMeasurement">
            </div>
            <div class="panel-header">
                <ul class="nav nav-tabs">
                    <li id="btnxInformation" role="presentation" style="cursor: pointer;" class="active"><a href="#" style="text-decoration: none;">X Information</a></li>
                    <li id="btnyInformation" role="presentation" style="cursor: pointer;"><a href="#" style="text-decoration: none;">Y Information</a></li>
                    <li id="btnActSrc" role="presentation" style="cursor: pointer;"><a href="#" style="text-decoration: none;">Act Source</a></li>
                    <li id="btnJoinSrc" role="presentation" style="cursor: pointer;"><a href="#" style="text-decoration: none;">Join Source</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div id="pnlxInformation" style="height: 540px; overflow: auto; overflow-x:hidden;" />
                <div id="pnlyInformation" style="height: 540px; overflow: auto; overflow-x:hidden; display: none;" />
                <div id="pnlActSrc" style="display: none;">
                    <div id="actSrcEditor" class="form-control"></div>
                </div>
                <div id="pnlJoinSrc" style="display: none;">
                    <div id="joinSrcEditor" class="form-control"></div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="Flow-Alien-Nls-Ed-Cl-XxMappingDescriptionEditView">
        <div>
            <div id="groupAct" class="input-group">
                <label class="input-group-addon" id="lblAct">Act</label>
                <select id="selAct" class="form-control focus">
                    <option value="00000000-0000-0000-0000-000000000000">Unassigned</option>
                    <% _.each(parent.acts, function(i) { if(i.dataType == "flow.alien.nls.ad.cl.XxActDescription") {%>  <option value="<%= i.id %>"><%= i.name %></option> <%} }); %>
                </select>
            </div>
            <div id="groupxEntity" class="input-group">
                <label class="input-group-addon" id="lblxEntity">X Entity</label>
                <select id="selxEntity" class="form-control">
                    <option value="00000000-0000-0000-0000-000000000000">Unassigned</option>
                    <% _.each(parent.entities, function(i) { %>  <option value="<%= i.id %>"><%= i.name %></option> <% }); %>
                </select>
            </div>
        </div>
    </script>

    <script type="text/template" id="Flow-Alien-Nls-Ed-Cl-XyMappingDescriptionEditView">
        <div>
            <div id="groupAct" class="input-group">
                <label class="input-group-addon" id="lblAct">Act</label>
                <select id="selAct" class="form-control focus">
                    <option value="00000000-0000-0000-0000-000000000000">Unassigned</option>
                    <% _.each(parent.acts, function(i) { if(i.dataType == "flow.alien.nls.ad.cl.XyActDescription") {%>  <option value="<%= i.id %>"><%= i.name %></option> <%} }); %>
                </select>
            </div>
            <div id="groupxEntity" class="input-group">
                <label class="input-group-addon" id="lblxEntity">X Entity</label>
                <select id="selxEntity" class="form-control">
                    <option value="00000000-0000-0000-0000-000000000000">Unassigned</option>
                    <% _.each(parent.entities, function(i) { %>  <option value="<%= i.id %>"><%= i.name %></option> <% }); %>
                </select>
            </div>
            <div id="groupyEntity" class="input-group">
                <label class="input-group-addon" id="lblyEntity">Y Entity</label>
                <select id="selyEntity" class="form-control">
                    <option value="00000000-0000-0000-0000-000000000000">Unassigned</option>
                    <% _.each(parent.entities, function(i) { %>  <option value="<%= i.id %>"><%= i.name %></option> <% }); %>
                </select>
            </div>
        </div>
    </script>
</body>

</html>