<html><body>
<script type="text/template" id="Flow-Util-Memory-MemoryEntityView">
    <div class="entityView panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Memory (<% _.each(settings.types, function(i) { %> <%= i %>; <% }); %>)</h3>
        </div>
        <div id="body" class="panel-body" data-isotope='{ "itemSelector": ".memory", "layoutMode": "masonry" }'>

        </div>
        <div class="panel-footer">
            <div class="btn-group" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="cursor: pointer;" class="glyphicon glyphicon-plus" title="Create"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <% _.each(settings.types, function(i) { %>  <li><a id="btnCreate" href="#"><%= i %></a></li> <% }); %>
                    </ul>
                </div>
                <button id="btnImport" type="button" class="btn btn-default"><span style="cursor: pointer;" class="glyphicon glyphicon-import" title="Import"></span></button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="Flow-Util-Memory-MemoryItemView">
    <div>
        <h3><%= name %></h3>
        <p><%= description %></p>
        <div class="btn-group" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span style="cursor: pointer;" class="glyphicon glyphicon-pencil" title="Edit"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <% _.each(_.sortBy(revisions, function(x) {return -x.id;}), function(r) { var d = new Date(r.time); %>  <li><a id="btnEdit" revision="<%= r.id %>" href="#"><%= r.id %> (<%= d.toLocaleString() %>)</a></li> <% }); %>
                </ul>
            </div>
            <button id="btnRemove" type="button" class="btn btn-default"><span style="cursor: pointer;" class="glyphicon glyphicon-trash" title="Remove"></span></button>
        </div>
        <div class="btn-group" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span style="cursor: pointer;" class="glyphicon glyphicon-export" title="Export"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <% _.each(_.sortBy(revisions, function(x) {return -x.id;}), function(r) { var d = new Date(r.time); %>  <li><a id="btnExport" revision="<%= r.id %>" href="#"><%= r.id %> (<%= d.toLocaleString() %>)</a></li> <% }); %>
                </ul>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="Flow-Util-Memory-MemoryEditView">
    <div>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <button id="btnSave" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-save" title="Save"></span></button>
            </div>
        </div>
        <div>
            <table width="100%">
                <tr>
                    <td>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#<%= id %>-<%= revision %>-PropertyContainer" aria-expanded="false" aria-controls="<%= id %>-PropertyContainer"><span class="glyphicon glyphicon-collapse-down" title="Memory Properties" />
                    </td>
                    <td width="100%">
                        <div id="groupName" class="input-group">
                            <label class="input-group-addon" id="lblName">Name</label>
                            <input id="txtName" type="text" required="required" class="form-control focus" placeholder="Name" aria-describedby="lblName">
                        </div>
                    </td>
                </tr>
            </table>
            <div class="collapse" id="<%= id %>-<%= revision %>-PropertyContainer">
                <div class="input-group">
                    <label class="input-group-addon" id="lblDescription">Description</label>
                    <textarea id="txtDescription" class="form-control" rows="5" placeholder="Description" aria-describedby="lblDescription"></textarea>
                </div>
            </div>
        </div>
        <div id="body">
        </div>
    </div>
</script>

<script type="text/template" id="Flow-Util-Memory-MemoryEditView-display">
    <span title="<%= id %> (<%= data.dataType %>)"><span class="glyphicon glyphicon-pencil"></span> <%= name %>(<%= revision %>)</span>
</script>
</body></html>
